body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #21e1e1;
}

h1 {
  text-align: center;
}

.input-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.2rem ;
  background-color: cornsilk;
}

.input-container button{
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(237, 61, 30);
  font-size: 35px;
}

.container  {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.todo {
  width:500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:cornflowerblue;
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 0px 5px;
}

.actions button{
  background-color:crimson;
  height: 30px;
  width:50px;
  border-radius: 10px;
  font-size: 0.85rem;
  color: white;
  margin-left: 10px;
}
